<% @items.each do |item| %>
  <p>
    <%= check_box_tag complete_item_path(item)%>
    <%= item.name %>
    <%= link_to 'Edit', edit_item_path(item) %>
    <%= link_to 'X', item_path(item), method: :delete %>
  </p>
<% end %>
